<!DOCTYPE html>
<html>
<head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="about-page-text">This is an application which provides you the weather at the location specified by you.</p>
        <p class="about-page-text">You may provide zipcode (US ONLY) or the name of a city  or even an entire address to get the real-time weather info</p>
    </div>
    {{>footer}}
    </body>

</html>